<h1 class="text-center">Stuped Coaching</h1>
<div class="d-flex flex-column ">
 <p class="p1 text-center">user question: <%= @input %></p>
<p class="p2 text-center">coatch answer: <%= @output %></p>
<p class="p3 text-center">ask a new question</p>
</div>
